*.db
.vs/
*.obj
*.exe
*.lib
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.opendb
*.crf
*.o
*.d
*.lnp
*.dep
*uvguix*
*.axf
*.htm
*.hex
*.iex
*.uvoptx
*.dbgconf
*LST
*scvd
*.bin
*.gbin
*.map
*.sct
!/000_U/MDK-ARM/MatrixV5/*.sct
JLinkLog.txt
Project/LST/
Project/OBJ/
Project/dataDecode256—taskcode.xml
012_AUDIO/MDK-ARM/JLinkLog.txt
012_AUDIO/MDK-ARM/JLinkSettings.ini
012_AUDIO/MDK-ARM/NewVideoAudio/NewVideoAudio.map
012_AUDIO/.vscode/012_AUDIO.code-workspace
012_AUDIO/MDK-ARM/NewVideoAudio/NewVideoAudio.sct
000_U/MDK-ARM/RTE/_MatrixGD4/RTE_Components.h
000_U/MDK-ARM/MatrixGD4/MatrixGD4_sct.Bak
